$white: #ffffff;
$gray: #d6d6d6;
$black: #454545;
$twitter: #55acee;
$instagram: #D93177;
$youtube: #cd201f;
$hover_color: #6e6e6e;
$link_color: $black;
$box_all_smartphone: 300px;
$box_all_tablet: 600px;
$box_all_desktop: 1000px;
@mixin font_big {
  font-size: 32px;
}
@mixin font_medium {
  font-size: 24px;
}
@mixin font_small {
  font-size: 16px;
}
@mixin link_color {
  color: $link_color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 24px;
  }

  &:hover {
    color: $hover_color;
  }
}

@mixin box_all($max-width) {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
}

// cssgridLayout
@mixin IEsupport_margin($any,$IEgap){
  @media all and (-ms-high-contrast: none){
    margin-#{$any}:$IEgap
  }
}

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}



$smartphone: "only screen and (min-width : 320px) and (max-width : 480px)";
$tablet: "only screen (min-width : 480px) and (max-width : 1024px)";
