$white: #ffffff;
$gray: #d6d6d6;
$black: #5c5c5c;
$twitter: #55acee;
$instagram: #D93177;
$youtube: #cd201f;
$wantedly:#21bddb;
$hover_color: #6e6e6e;
$link_color: $black;

$box_all_smartphone: 380px;
$box_all_tablet: 600px;
$box_all_desktop: 1000px;
@mixin font_big {
  font-size: 32px;
}
@mixin font_medium {
  font-size: 24px;
}
@mixin font_small {
  font-size: 16px;
}
@mixin link_color {
  color: $link_color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 24px;
  }

  &:hover {
    color: $hover_color;
  }
}

@mixin box_all($max-width) {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
}

// cssgridLayout
@mixin IEsupport_margin($any,$IEgap){
  @media all and (-ms-high-contrast: none){
    margin-#{$any}:$IEgap
  }
}

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn-anime{
  .btn{
    font-size: 16px;
    display: inline;
    padding: 8px 24px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    border: solid 2px $black;
    .text{
      position: relative;
      transition: 200ms ease 200ms;
    }
    .bg{
      background-color: $black;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(110%) skewX(30deg);
      transition: 300ms ease-in-out 200ms;
    }
    &:hover {
      .bg{
        transform: translateX(0%);
      }
      .text{
        color: $white;
      }
    }
  }
}



$smartphone: "only screen and (min-width : 320px) and (max-width : 480px)";
$tablet: "only screen (min-width : 480px) and (max-width : 1024px)";
