h1, h2, h3, p, a {
  color: #606060;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 50px;
}

a {
  font-size: 30px;
  display: inline;
  padding: 10px 30px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header [class^="flex-"],
header [class*=" flex-"] {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header [class^="flex-"] div,
header [class*=" flex-"] div {
  background: black;
  height: 1px;
}

header [class^="frame-"],
header [class*=" frame-"] {
  position: absolute;
  background-color: black;
  content: "";
}

header .headerwrap {
  width: 90vw;
  height: 90vh;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .headerwrap .frame-top {
  width: 0%;
  height: 1px;
  top: 0;
  animation: width 1s ease 0s forwards;
}

header .headerwrap .frame-right {
  height: 0%;
  width: 1px;
  right: 0;
  animation: height 1s ease 0.9s forwards;
}

header .headerwrap .frame-left {
  height: 0%;
  width: 1px;
  left: 0;
  animation: height 1s ease 0s forwards;
}

header .headerwrap .frame-bottom {
  width: 0%;
  height: 1px;
  bottom: 0;
  animation: width 1s ease 0.9s forwards;
}

header .headerwrap .flex-ham {
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
}

header .headerwrap .flex-ham div:nth-child(1) {
  transition: all 300ms ease 0s;
}

header .headerwrap .flex-ham div:nth-child(2) {
  transition: all 300ms ease 100ms;
}

header .headerwrap .flex-ham div:nth-child(3) {
  transition: all 300ms ease 200ms;
}

header .headerwrap .flex-ham:hover div {
  transform-origin: right;
}

header .headerwrap .flex-ham:hover div:nth-child(1) {
  transform: scaleX(2);
}

header .headerwrap .flex-ham:hover div:nth-child(2) {
  transform: scaleX(0.7);
}

header .headerwrap .flex-ham:hover div:nth-child(3) {
  transform: scaleX(1.2);
}

header .headerwrap .flex-pos {
  left: -50px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 200px;
}

header .headerwrap .flex-pos div:nth-child(1) {
  width: 100px;
}

main [class^="content-"],
main [class*=" content-"] {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main [class^="wrap-"],
main [class*=" wrap-"] {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 450px;
}

main .content-1 .wrap-header {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content-1 .wrap-header h1 {
  position: absolute;
  margin: auto;
  left: 0;
}

main .content-1 .wrap-header img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 300px;
  height: auto;
}

main .content-2 .wrap-self img {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 600px;
  height: 100%;
  z-index: 1;
}

main .content-2 .wrap-self h1 {
  position: absolute;
  top: 40%;
  margin: auto;
  display: inline-block;
  z-index: 2;
}

main .content-2 .wrap-self a {
  position: absolute;
  left: 20%;
  bottom: -10%;
  margin: auto;
  background: white;
  display: block;
  z-index: 3;
}

main .content-3 .wrap-works img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

main .content-3 .wrap-works h1 {
  position: absolute;
  right: 0;
  padding: 40px 0;
  z-index: 2;
}

main .content-3 .wrap-works a {
  position: absolute;
}

main .content-3 .wrap-works .button_wrap {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

main .content-3 .wrap-works .photos {
  bottom: 0;
  right: 0;
}

main .content-3 .wrap-works .works {
  bottom: 30px;
  right: 170px;
}

@keyframes width {
  100% {
    width: 100%;
  }
}

@keyframes height {
  100% {
    height: 100%;
  }
}
