@-webkit-keyframes width {
  100% {
    width: 100%; } }

@keyframes width {
  100% {
    width: 100%; } }

@-webkit-keyframes height {
  100% {
    height: 100%; } }

@keyframes height {
  100% {
    height: 100%; } }

.move_top {
  opacity: 0;
  -webkit-animation: move_top 1000ms ease-out 300ms forwards;
          animation: move_top 1000ms ease-out 300ms forwards; }

.move_bottom {
  opacity: 0;
  -webkit-animation: move_bottom 1000ms ease-out 300ms forwards;
          animation: move_bottom 1000ms ease-out 300ms forwards; }

.move_left {
  opacity: 0;
  -webkit-animation: move_left 1000ms ease-out 300ms forwards;
          animation: move_left 1000ms ease-out 300ms forwards; }

.move_right {
  opacity: 0;
  -webkit-animation: move_right 1000ms ease-out 300ms forwards;
          animation: move_right 1000ms ease-out 300ms forwards; }

@-webkit-keyframes move_top {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes move_top {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes move_bottom {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes move_bottom {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes move_left {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes move_left {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@-webkit-keyframes move_right {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes move_right {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

.translateX {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: contact_anime 600ms ease 500ms forwards;
          animation: contact_anime 600ms ease 500ms forwards; }

.translateX_double {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-animation: contact_anime 1200ms ease 800ms forwards;
          animation: contact_anime 1200ms ease 800ms forwards; }

@-webkit-keyframes contact_anime {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes contact_anime {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes menu_anime {
  100% {
    -webkit-transform: rotateX(160px);
            transform: rotateX(160px); } }

@keyframes menu_anime {
  100% {
    -webkit-transform: rotateX(160px);
            transform: rotateX(160px); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes minus_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@keyframes minus_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

.phone-after {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important; }

.hamburger-top-after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger-middle-after {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw); }

.hamburger-bottom-after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.hamburger-top-anime {
  -webkit-animation: hamburger-bar 700ms ease 100ms forwards;
          animation: hamburger-bar 700ms ease 100ms forwards; }

.hamburger-middle-anime {
  -webkit-animation: hamburger-bar 700ms ease 300ms forwards;
          animation: hamburger-bar 700ms ease 300ms forwards; }

.hamburger-bottom-anime {
  -webkit-animation: hamburger-bar 700ms ease 600ms forwards;
          animation: hamburger-bar 700ms ease 600ms forwards; }

@-webkit-keyframes hamburger-bar {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(0.5) rotate(-10deg);
            transform: scaleX(0.5) rotate(-10deg); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes hamburger-bar {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  50% {
    -webkit-transform: scaleX(0.5) rotate(-10deg);
            transform: scaleX(0.5) rotate(-10deg); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

html {
  overflow-x: hidden; }

div,
span {
  content: ""; }

img {
  pointer-events: none; }

a,
h1,
h2,
h3,
p,
li {
  color: #ffffff;
  color: #5c5c5c;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em; }

h1 {
  font-size: 48px; }

header [class^="flex-"],
header [class*=" flex-"] {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 999; }
  header [class^="flex-"] span,
  header [class*=" flex-"] span {
    background: #5c5c5c;
    height: 1px; }

header .hamburger-menu {
  transition: all 600ms ease;
  position: fixed;
  right: 100%;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 1, 1, 0.2);
  content: "";
  overflow: hidden; }
  header .hamburger-menu_nav {
    height: 100%;
    width: 30vw;
    background: #fafafa;
    position: absolute;
    right: -100%;
    top: 0;
    transition: all 700ms ease 400ms; }

header .headerwrap .flex-pos {
  position: fixed;
  width: 40px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 200px; }
  header .headerwrap .flex-pos .pos {
    transition: all 300ms;
    -webkit-transform-origin: left;
            transform-origin: left;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .headerwrap .flex-pos .pos span {
      height: 8px;
      width: 100%;
      opacity: 0.9; }
    header .headerwrap .flex-pos .pos:nth-child(1):hover {
      -webkit-transform: scaleX(2);
              transform: scaleX(2); }
    header .headerwrap .flex-pos .pos:nth-child(2):hover {
      -webkit-transform: scaleX(2);
              transform: scaleX(2); }
    header .headerwrap .flex-pos .pos:nth-child(3):hover {
      -webkit-transform: scaleX(2);
              transform: scaleX(2); }
    header .headerwrap .flex-pos .pos:nth-child(4):hover {
      -webkit-transform: scaleX(2);
              transform: scaleX(2); }
    header .headerwrap .flex-pos .pos div {
      width: 100%;
      height: 1px; }

header .headerwrap .phone, header .headerwrap .hamburger {
  display: none; }

header .headerwrap .header_menu {
  position: fixed;
  right: 64px;
  top: 56px; }
  header .headerwrap .header_menu ul {
    display: flex;
    flex-direction: row; }
  header .headerwrap .header_menu li {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: all 300ms ease; }
    header .headerwrap .header_menu li span {
      height: 16px;
      width: 0%;
      padding: 1px 0px;
      transition: all 300ms;
      margin-top: -20px;
      opacity: 0.9;
      border-radius: 8px; }
    header .headerwrap .header_menu li:hover span {
      width: 100%;
      padding: 1px 20px;
      background: #5c5c5c;
      z-index: -1; }
    header .headerwrap .header_menu li:hover a {
      opacity: 1;
      color: #ffffff; }
  header .headerwrap .header_menu_twitter:hover span {
    background: #55acee !important; }
  header .headerwrap .header_menu_twitter:hover a {
    color: #ffffff; }
  header .headerwrap .header_menu_instagram:hover span {
    background: #D93177 !important; }
  header .headerwrap .header_menu_instagram:hover a {
    color: #ffffff; }
  header .headerwrap .header_menu_wantedly:hover span {
    background: #21bddb !important; }
  header .headerwrap .header_menu_wantedly:hover a {
    color: #ffffff; }

footer ul {
  height: 64%;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  footer ul li {
    padding: 24px 0; }

footer .content-4 .wrap-contact {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 72vw;
  height: 72vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; }

footer .content-4 .contact_section {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center; }

footer .content-4 .contact_icon {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  background: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0; }
  footer .content-4 .contact_icon .contact_icon_imgwrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: all 500ms ease  200ms;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer .content-4 .contact_icon_twitter {
    background: #1da1f2;
    right: 100%; }
    footer .content-4 .contact_icon_twitter img {
      height: 16%;
      width: auto; }
  footer .content-4 .contact_icon_wantedly {
    background: #21bddb;
    right: 100%; }
    footer .content-4 .contact_icon_wantedly img {
      height: 10%;
      width: auto; }
  footer .content-4 .contact_icon_instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    right: 100%; }
    footer .content-4 .contact_icon_instagram img {
      height: 16%;
      width: auto; }

footer .content-4 .contact_link {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .content-4 .contact_link img {
    height: 16%;
    width: 16%; }

.wrapper {
  position: relative;
  width: 70%;
  height: 60%; }

.contents {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.double {
  -webkit-transform: scaleX(2);
          transform: scaleX(2); }

.circle {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .circle span {
    position: absolute;
    opacity: 0.6;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .circle_header1 {
    left: -100%;
    height: 150%;
    width: 150%;
    background: #ffc9e2;
    border-radius: 40% 40% 50% 40%/30% 50% 50%;
    -webkit-animation: rotate 8s linear 0s backwards;
            animation: rotate 8s linear 0s backwards; }
  .circle_header2 {
    left: -100%;
    height: 150%;
    width: 150%;
    background: #ddfffd;
    border-radius: 80% 30% 50% 50%/50%;
    -webkit-animation: minus_rotate 7s linear 0s backwards;
            animation: minus_rotate 7s linear 0s backwards; }
  .circle_3 {
    left: -100%;
    height: 90%;
    width: 90%;
    background: #ead6ff;
    border-radius: 40% 60% 50% 40%/30% 50% 50%;
    -webkit-animation: rotate 8s linear 0s backwards;
            animation: rotate 8s linear 0s backwards; }
  .circle_4 {
    left: -100%;
    height: 90%;
    width: 90%;
    background: #e8ffed;
    border-radius: 80% 30% 50% 30%/50%;
    -webkit-animation: minus_rotate 7s linear 0s backwards;
            animation: minus_rotate 7s linear 0s backwards; }
  .circle_5 {
    right: -100%;
    height: 100%;
    width: 100%;
    background: #fcffaa;
    border-radius: 50% 50% 50% 70%/50% 50% 70%;
    -webkit-animation: rotate 8s linear 0s backwards;
            animation: rotate 8s linear 0s backwards; }
  .circle_6 {
    right: -100%;
    height: 100%;
    width: 100%;
    background: #aafffc;
    border-radius: 80% 30% 50% 50%/50%;
    -webkit-animation: minus_rotate 7s linear 0s backwards;
            animation: minus_rotate 7s linear 0s backwards; }

main .circle-responsive {
  display: none; }

main .content-1 .wrap-header {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .content-1 .wrap-header h1 {
    position: absolute;
    margin: auto;
    left: 0; }
  main .content-1 .wrap-header img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 320px;
    height: auto; }

main .content-2 .main-sp {
  display: none; }

main .content-2 .main-pc {
  display: block; }

main .content-2 .wrap-self .btn {
  font-size: 16px;
  display: inline;
  padding: 8px 24px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: solid 2px #5c5c5c; }
  main .content-2 .wrap-self .btn .text {
    position: relative;
    transition: 200ms ease 200ms; }
  main .content-2 .wrap-self .btn .bg {
    background-color: #5c5c5c;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(110%) skewX(30deg);
            transform: translateX(110%) skewX(30deg);
    transition: 300ms ease-in-out 200ms; }
  main .content-2 .wrap-self .btn:hover .bg {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  main .content-2 .wrap-self .btn:hover .text {
    color: #ffffff; }

main .content-2 .wrap-self h1 {
  position: absolute;
  top: 30%;
  margin: auto;
  display: inline-block;
  z-index: 2;
  opacity: 0; }

main .content-2 .wrap-self img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  width: 60%;
  height: 95%;
  z-index: 1;
  opacity: 0; }

main .content-2 .wrap-self .btn {
  bottom: -90%; }

main .content-3 .wrap-works .btn {
  font-size: 16px;
  display: inline;
  padding: 8px 24px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: solid 2px #5c5c5c; }
  main .content-3 .wrap-works .btn .text {
    position: relative;
    transition: 200ms ease 200ms; }
  main .content-3 .wrap-works .btn .bg {
    background-color: #5c5c5c;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(110%) skewX(30deg);
            transform: translateX(110%) skewX(30deg);
    transition: 300ms ease-in-out 200ms; }
  main .content-3 .wrap-works .btn:hover .bg {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  main .content-3 .wrap-works .btn:hover .text {
    color: #ffffff; }

main .content-3 .wrap-works img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: auto; }

main .content-3 .wrap-works h1 {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 20%;
  text-align: right;
  padding: 40px 0;
  z-index: 2; }

main .content-3 .wrap-works a {
  opacity: 0;
  position: absolute; }

main .content-3 .wrap-works .button_wrap {
  display: flex;
  justify-content: space-between;
  width: 30%;
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 3; }

main .content-3 .wrap-works .photos {
  bottom: 0;
  right: 0; }

main .content-3 .wrap-works .works {
  bottom: 30px;
  right: 200px; }

@media screen and (max-width: 420px) {
  h1 {
    font-size: 32px; }
  .circle {
    display: none; }
  header .headerwrap .flex-pos {
    display: none; }
  header .headerwrap .desktop {
    display: none; }
  header .headerwrap .hamburger {
    z-index: 30;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 30px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0px;
    margin: auto; }
    header .headerwrap .hamburger span {
      height: 1px;
      width: 100%;
      background: #5c5c5c;
      transition: all 500ms ease 0s;
      -webkit-transform-origin: left;
              transform-origin: left; }
  header .headerwrap .phone {
    transition: all 300ms ease 0s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: block;
    top: 0;
    right: 0;
    z-index: 20;
    background: #5c5c5c;
    opacity: 0.6; }
    header .headerwrap .phone ul {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 100vw; }
      header .headerwrap .phone ul li {
        opacity: 1; }
        header .headerwrap .phone ul li a {
          padding: 20px;
          color: #ffffff; }
  header .headerwrap .flex-pos {
    width: 10px; }
  main .circle-responsive {
    z-index: -1;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .circle-responsive span {
      position: absolute;
      opacity: 0.6; }
    main .circle-responsive .res-1 {
      height: 200px;
      width: 200px;
      opacity: 0.3;
      border-radius: 40% 40% 50% 40%/30% 50% 50%;
      background: #ffc9e2;
      -webkit-animation: rotate 8s linear 0s backwards;
              animation: rotate 8s linear 0s backwards;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
    main .circle-responsive .res-2 {
      height: 160px;
      width: 160px;
      opacity: 1;
      border-radius: 80% 30% 50% 30%/50%;
      background: #ffffff;
      -webkit-animation: minus_rotate 7s linear 0s backwards;
              animation: minus_rotate 7s linear 0s backwards;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  main .bg {
    display: none; }
  main .wrapper {
    width: 72%;
    height: 64%; }
  main .content-1 .wrap-header h1 {
    display: none;
    font-size: 24px;
    left: auto; }
  main .content-1 .wrap-header img {
    width: 240px;
    left: 0;
    bottom: 40px; }
  main .content-2 .main-pc {
    display: none; }
  main .content-2 .main-sp {
    display: block; }
  main .content-2 .wrap-self h1 {
    top: inherit;
    right: inherit;
    left: 0;
    bottom: 20%; }
  main .content-2 .wrap-self img {
    bottom: inherit;
    width: 90%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  main .content-2 .wrap-self .btn {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0; } }
