.content-4.contents.footer-wrap
  .wrap-contact
    .contact_section
      ul.contact_sns
        li
          h2 SNS
        li
          a.link_twitter(href="https://twitter.com/front_artgraph" target="_blank") 
            span.link-text  Twitter
            img.link-image(src="material/twitter.svg")
        li
          a.link_instagram(href="https://www.instagram.com/frontartgraph" target="_blank")
            span.link-text  Instagram
            img.link-image(src="material/instagram.svg")
        li
          a.link_wantedly(href="https://www.wantedly.com/users/42158900" target="_blank")
            span.link-text  Wantedly
            img.link-image(src="material/wantedly_mark.svg")
    .contact_icon
      ul.contact_mails
        li
          h2 CONTACT
        li
          p yuki.itoh@front-artgraph.com
        li
          p Japan Tokyo
        li
          p © 2018 frontartgraph
      .contact_icon_twitter.contact_icon_imgwrap
        img(src="material/twitter.svg" alt="")
      .contact_icon_instagram.contact_icon_imgwrap
        img(src="material/instagram.svg" alt="")
      .contact_icon_wantedly.contact_icon_imgwrap
        img(src="material/wantedly.svg" alt="")
