mixin menu
  ul
    li
      a(href="#") ABOUT
      span
    li
      a(href="#") WORKS
      span
    li
      a(href="#") PHOTOS
      span
    li.header_menu_twitter
      a(href="#") TWITTER
      span
    li.header_menu_instagram
      a(href="#") INSTAGRAM
      span
    li.header_menu_wantedly
      a(href="#") WANTEDLY
      span
        
.headerwrap
  //- .flex-pos
  //-   // js add bar

  nav.header_menu.desktop
    +menu
  .hamburger
    span.hamburger-top
    span.hamburger-middle
    span.hamburger-bottom
  nav.header_menu.phone
    +menu
//
  <div class="hamburger-menu">
  <div class="hamburger-menu_nav">
  </div>
  </div>
