mixin menu
  ul
    li: a(href="index.html") Top page
      span
    li.header_menu_twitter: a(href="#") Twitter
      span
    li.header_menu_instagram: a(href="#") Instagram
      span
    li.header_menu_wantedly: a(href="#") Wantedly
      span
    li: a(href="about.html") Show me more
      span
    li: a(href="news.html") Photos & works
      span
        
.headerwrap

  nav.header_menu.desktop
    +menu
  .hamburger
    span.hamburger-top
    span.hamburger-middle
    span.hamburger-bottom
  nav.header_menu.phone
    +menu
