doctype html
html(lang="ja")
  head
    include includes/_head.pug
  
  body
    header
      include includes/_header.pug
    main
      .circle-responsive
        span.circle-res.res-1
        span.circle-res.res-2
        
      #index
        .content-1.contents
          .wrap-header.wrapper
            .circle
              span.circle_header1.circle_size
              span.circle_header2.circle_size
                
            h1
              | Yuki Itoh
              br
              | Front-Art Graph
            img.logo(src="material/my_logo.svg" alt="")
              
        .content-2.contents
          .wrap-self.wrapper
            .circle
              span.circle_3
              span.circle_4
            img.main-pc(src="material/main.png" alt="")
            img.main-sp(src="material/main_sp.png" alt="")
            h1
              | Who is
              br
              |  Yuki Itoh?
            
            a.btn(href="")
              span.bg
              span.text show me more
              
        .content-3.contents
          .wrap-works.wrapper
            .circle
              span.circle_5
              span.circle_6
                
            h1
              | His works 
              br
              | and photos
            img(src="material/polaroid.jpg" alt="")
            .button_wrap
              a.btn(href="")
                span.bg
                span.text Photos
              a.btn(href="")
                span.bg
                span.text works
    footer
      include includes/_footer.pug
  
  include includes/_script.pug
