doctype html
html(lang="ja")
  head
    include includes/_head.pug
  
  body
    header
      include includes/_header.pug
    main
      .circle-responsive
        span.circle-res.res-1
        span.circle-res.res-2
        
      #index
        .contents
          .wrap-header.wrapper
            .circle.circle-header
              div.circle-header_bar
                div.circle-header_bar_wrap
                  span.circle-header_bar_wrap-color
              span.circle_header1.circle_size
              span.circle_header2.circle_size
                
            h1
              | Yuki Itoh
              br
              | Front-Art Graph
            img.logo(src="material/my_logo.svg" alt="")
              
        .contents
          .wrap-self.wrapper
            
            .wrap-self_text
              .circle.circle-self
                div.circle-self_bar
                  span.circle-self_bar-color
                span.circle_3
                span.circle_4
              h1
                | Who is
                br
                |  Yuki Itoh?
              
              a.btn(href="")
                span.bg
                span.text show me more
            .wrap-self_image
              img.wrap-self_image-pc(src="material/main.png" alt="")
              img.wrap-self_image-sp(src="material/main_sp.png" alt="")
              
        .contents
          .wrap-works.wrapper
            
            .wrap-works_image
              img(src="material/polaroid.jpg" alt="")
            .wrap-works_text
              .circle.circle-works
                span.circle_5
                span.circle_6
              h1
                | His works 
                br
                | and photos
              a.btn(href="")
                span.bg
                span.text
                  | Photos & works
            
            
              
    footer
      include includes/_footer.pug
    
      
  
  include includes/_script.pug
  //-   script(src="https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js")
